.big-sidebar
{
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  bottom: 0px;
  top: 54px;
  left: 0px;
  width: 226px;
  z-index: 200;
  padding-left: 12px;
  max-height: calc(100vh);
  overflow-y: hidden;
}

.big-sidebar:hover
{
  overflow-y: auto;
  scrollbar-width: 5px;
}

.sidebar-section
{
  width: 218px;
  align-items: center;
  padding: 12px 0px 12px 0px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.sidebar-link, .sidebar-link-home, .sidebar-title-container
{
  display: flex;
  background-color: white;
  width: 180px;
  height: 40px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 8px;
  align-items: center;
  transition: background-color 0.03s;
}

.sidebar-link:hover
{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.sidebar-title-container
{
  font-weight: 500;
}

.arrow-symbol
{
  display: flex;
  align-items: center;
  padding-left: 3px;
}

.sidebar-link-home
{
  font-weight: 500;
  background-color: rgb(240, 240, 240);
}

.icon-area 
{
  display: flex;
  align-items: center;
  width: 48px;
  height: 40px;
}

.sidebar-icon, .subscription-icon
{
  width: 24px;
  height: 24px;
}

.subscription-icon
{
  border-radius: 12px;
}

.sidebar-desc
{
  height: 40px;
  display: flex;
  flex: 1;
  font-size: 14px;
  align-items: center;
}

.extra
{
  display: none;
}

.checked
{
  display: none;
}

#toggle:checked~.extra
{
  display: flex;
  flex: 1;
}

#toggle:checked~.show-more .checked 
{
  display: flex;
  flex: 1;
}

#toggle:checked~.show-more .unchecked 
{
  display: none;
}